{% extends 'new/account/base.html' %} {% load static %} {% block title %}My Network{% endblock title %}
{% block content%}
<div class="row"  mb-4>
    <div class="col-md-12 mb-5">
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="">
                            Want to communicate with your existing network?
                        </a>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                    <div class="card-body">
                        <ul>
                            <li>Messenger Campaign helps you facilitate communication with your network of contacts.
                            </li>
                            <li>Want to send a message to specific contacts or to your whole network? Go to Messenger page located
                                in the top menu and start new Messenger Campaign.
                            </li>
                            <li>Next step is to add contacts from My Network page.</li>
                            <li>One contact can be a part of no more than one Campaign at any moment in time. This helps avoid
                                breaking the logic of ongoing communication. You can move contacts across campaigns. Moved
                                to new campaign contacts will no longer receive automated messages scheduled with old campaigns.
                            </li>
                            <li>To help you filter campaigns use the following three filters below: ’Show Connector contacts’,
                                ‘Show Messenger contacts’, ‘Show Talking contacts’.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 mb-5">
        <div class="card">
            <div class="card-body">
                {% include 'app/includes/people_datatable.html' with contacts=object_list campaign=1 %}
                {% include 'app/includes/hidden_people_table.html' with contacts=object_list_default campaign=1 %}
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
         <div class="card">
            <div class="card-body" id="uinfo_box">
            </div>
         </div>
    </div>
</div>
{% endblock %} {% block pagefooter %} {% include 'app/includes/datatable_pagefooter.html' %}
<div class="modal fade" tabindex="-1" role="dialog" id="add2campaign">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'campaign-contacts' %}" method="POST">
                {% csrf_token %}

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Contacts to Messenger Campaign</h4>
                </div>
                <div class="modal-body modal-body-input">
                    {% if messenger_campaigns_count > 0 %}
                    <p>Choose Campaign</p>
                    <select class="form-control" name="campaign" id="campaign">

                        {% include 'app/includes/campaigns/list_select.html' with campaigns=messenger_campaigns %}
                    </select>

                    {% include 'app/includes/campaigns/list_hidden.html' with campaigns=messenger_campaigns %} {% else %} You don't have any
                    Messenger Campaigns yet. To create one go
                    <a href="{% url 'account-messenger' pk=account.id %}">here</a>. {% endif %}
                </div>
                <input type="hidden" name="cid" value="">
                <div class="modal-body modal-body-move text text-danger">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {% if messenger_campaigns_count > 0 %}
                    <button type="button" class="btn btn-primary add2bulk_button">Add to Messenger</button>
                    <button type="button" class="btn btn-info move2bulk_button hidden">Move</button>
                    {% endif %}

                </div>

            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<script src="{% static 'js/table2CSV.js' %}"></script>
<script>
    $(document).ready(function () {

        $(".export-to-csv").click(function () {
            var $table = $('#csv_convert_table');
            var csv = $table.table2CSV({
                delivery: 'value'
            });
            var downloadLink = document.createElement("a");
            downloadLink.href = 'data:text/csv;charset=UTF-8,' +
                encodeURIComponent(csv);
            downloadLink.download = "my_network.csv";
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        });
    });
</script>

{% endblock %}