{% extends 'v2/account/base.html' %}
{% load static %}

{% block title %}Messenger Details{% endblock title %}

{% block head %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <style>
    .popover{
        z-index: 0;
    }
    </style>

    <div class="row mb-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2>Messenger Details</h2>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="people-tab" data-toggle="tab" href="#people"
                                       role="tab" aria-controls="people" aria-selected="true">People</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="steps-tab" data-toggle="tab" href="#steps" role="tab"
                                       aria-controls="steps" aria-selected="false">Steps</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab"
                                       aria-controls="settings" aria-selected="false">Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab"
                                       aria-controls="stats" aria-selected="false">Stats</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="people" role="tabpanel"
                                     aria-labelledby="people-tab">
                                    <h4>To get things going with this Messenger Campaign:</h4>
                                    <p>1. Go to
                                        {% if object.is_bulk %}
                                            <a href="{% url 'account-network' pk=object.owner_id %}">My Network</a>
                                        {% else %}
                                            <a href="{% url 'account-search' pk=object.owner_id %}">Search</a>
                                        {% endif %}
                                        .</p>
                                    <p>2. Find people you would like to add to this Messenger Campaign.</p>
                                    <p>3. Select and add people you would like to contact by clicking "Add Selected
                                        People to Messenger Campaign" or "Add All New People to Messenger Campaign"
                                        button.</p>

                                </div>
                                <div class="tab-pane fade" id="steps" role="tabpanel" aria-labelledby="steps-tab">
                                    <form name="campaign" method="POST"
                                          action="{% url 'messenger-campaign' pk=object.pk %}">
                                        {% include 'account/campaign/tab_2_form.html' with messenger=1 %}


                                    </form>
                                </div>
                                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                    {% include 'account/campaign/tab_3.html' %}
                                </div>
                                <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">


                                    <!-- /.tab-pane -->
                                    {% include 'v2/account/campaign/tab_4.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block script %}
    {% include 'app/includes/campaigns/page_footer.html' %}

    {% include 'app/includes/datatable_pagefooter.html' %}

    <script src="{% static 'js/jquery.formset.js' %}?v=1"></script>
    <script src="{% static 'js/campaignformset.js' %}?v=17"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/toastr/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/easypiechart/jquery.easypiechart.min.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script>
        $(document).ready(function () {

            var NameButton = function (context) {
                var ui = $.summernote.ui;

                // create button
                var button = ui.button({
                    contents: 'Name',
                    click: function () {
                        // invoke insertText method with 'hello' on editor module.
                        context.invoke('editor.insertText', ' {Name} ');
                    }
                });

                return button.render();   // return button as jquery object
            }
             var FnameButton = function (context) {
                var ui = $.summernote.ui;

                // create button
                var button = ui.button({
                    contents: 'First name',
                    click: function () {
                        // invoke insertText method with 'hello' on editor module.
                        context.invoke('editor.insertText', ' {FirstName} ');
                    }
                });

                return button.render();   // return button as jquery object
            }
             var CnameButton = function (context) {
                var ui = $.summernote.ui;

                // create button
                var button = ui.button({
                    contents: 'Company name',
                    click: function () {
                        // invoke insertText method with 'hello' on editor module.
                        context.invoke('editor.insertText', ' {Company} ');
                    }
                });

                return button.render();   // return button as jquery object
            }
             var TitleButton = function (context) {
                var ui = $.summernote.ui;

                // create button
                var button = ui.button({
                    contents: 'Title',
                    click: function () {
                        // invoke insertText method with 'hello' on editor module.
                        context.invoke('editor.insertText', ' {Title} ');
                    }
                });

                return button.render();   // return button as jquery object
            }


            $('.summernote').summernote({
                height: 150,   //set editable area's height
                toolbar: [
                    ['mybutton', ['name', 'fname', 'cname', 'title']],
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]

                ],

                buttons: {
                    name: NameButton,
                    fname: FnameButton,
                    cname: CnameButton,
                    title: TitleButton
                }
            });
        });
    </script>

{% endblock %}

