{% extends 'v2/account/base.html' %}
{% load static %}

{% block title %}Messenger Details{% endblock title %}
{% block head %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <style>
    .note-editor.note-frame .note-editing-area {
    overflow: hidden;
    border: 1px solid #e0dbdb;
    margin-top: .5em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
    .note-editor.note-frame {
    border: 0;
}
    .popover {
    z-index: 0;
}
    .note-popover .popover-content, .panel-heading.note-toolbar {
    padding: 0;
    margin: 0;
}

    .btn.disabled, .btn:disabled {
    text-decoration: none;
    cursor: not-allowed;
}
    </style>
{% endblock %}


{% block content %}

    <div class="row mb-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2>Messenger Details</h2>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="people-tab" data-toggle="tab" href="#people" role="tab" aria-controls="people" aria-selected="false">People</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="steps-tab" data-toggle="tab" href="#steps" role="tab" aria-controls="steps" aria-selected="true">Steps</a>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="people" role="tabpanel" aria-labelledby="people-tab">
                                    <h4>To get things going with this Messenger Campaign:</h4>
                                    <p>1. Go to
                                    {% if object.is_bulk %}
                                        <a href="{%url 'account-network' pk=object.owner_id %}">My Network</a>
                                    {%else%}
                                    <a href="{%url 'account-search' pk=object.owner_id %}">Search</a>
                                    {%endif%}
                                    .</p>
                                    <p>2. Find people you would like to add to this Messenger Campaign.</p>
                                    <p>3. Select and add people you would like to contact by clicking "Add Selected People to Messenger Campaign" or "Add All New People to Messenger Campaign" button.</p>

                                </div>
                                <div class="tab-pane fade" id="steps" role="tabpanel" aria-labelledby="steps-tab">

                                        {% include 'account/campaign/tab_2_messenger_form.html' with messenger=1 %}
                                </div>
                                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                    {% include 'account/campaign/tab_3.html' %}
                                </div>
                                <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">


                                    <!-- /.tab-pane -->
                                    {% include 'v2/account/campaign/tab_4.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{%  block script %}
{% include 'app/includes/campaigns/page_footer.html' %}

    {% include 'app/includes/datatable_pagefooter.html' %}

<script src="{% static 'js/jquery.formset.js' %}?v=1"></script>
<script src="{% static 'js/campaignformset.js' %}?v=16"></script>
<script type="text/javascript" src="{% static 'assets/plugins/toastr/toastr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/easypiechart/jquery.easypiechart.min.js' %}"></script>


<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script>
    followup_url = "{% url 'messenger-followups' pk=apk%}"
    data_stored = "{% url 'messenger-followup' %}"
    data_new = "{% url 'messenger-new-followup' %}"
    cpk = {{ apk }}
    </script>
    <script src="{% static 'js/messenger_update.js' %}?v=3"></script>

{% endblock %}
