{% extends 'v2/account/base.html' %}
{% load static %}

{% block title %}Messenger Details{% endblock title %}


{% block content %}

    <div class="row mb-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2>Messenger Details</h2>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="people-tab" data-toggle="tab" href="#people" role="tab" aria-controls="people" aria-selected="true">People</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="steps-tab" data-toggle="tab" href="#steps" role="tab" aria-controls="steps" aria-selected="false">Steps</a>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="people" role="tabpanel" aria-labelledby="people-tab">
                                    <h4>To get things going with this Messenger Campaign:</h4>
                                    <p>1. Go to
                                    {% if object.is_bulk %}
                                        <a href="{%url 'account-network' pk=object.owner_id %}">My Network</a>
                                    {%else%}
                                    <a href="{%url 'account-search' pk=object.owner_id %}">Search</a>
                                    {%endif%}
                                    .</p>
                                    <p>2. Find people you would like to add to this Messenger Campaign.</p>
                                    <p>3. Select and add people you would like to contact by clicking "Add Selected People to Messenger Campaign" or "Add All New People to Messenger Campaign" button.</p>

                                </div>
                                <div class="tab-pane fade" id="steps" role="tabpanel" aria-labelledby="steps-tab">
                                    <form name="campaign" method="POST" action="{% url 'messenger-campaign' pk=object.pk %}">
                                        {% include 'account/campaign/tab_2_form.html' with messenger=1 %}


                                    </form>
                                </div>
                                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                    {% include 'account/campaign/tab_3.html' %}
                                </div>
                                <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">


                                    <!-- /.tab-pane -->
                                    {% include 'v2/account/campaign/tab_4.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{%  block script %}
{% include 'app/includes/campaigns/page_footer.html' %}

    {% include 'app/includes/datatable_pagefooter.html' %}

<script src="{% static 'js/jquery.formset.js' %}?v=1"></script>
<script src="{% static 'js/campaignformset.js' %}?v=16"></script>
<script type="text/javascript" src="{% static 'assets/plugins/toastr/toastr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/easypiechart/jquery.easypiechart.min.js' %}"></script>

{% endblock %}
