{% extends 'v2/account/base.html' %}
{% load static %}
{% block title %} Report{% endblock title %}
{% block head %}
   
{% endblock %}
{% block content %}
<div class="row mb-5 justify-content-md-center">
    <div class="col-md-5 mb-5">
        <div class="card text-center">
            <div class="card-header">
                Select Filter For Report
            </div>
            <div class="card-body">
                    {% if msg %}
                    <div class="alert alert-light" role="alert">
                            <strong>{{ msg }}</strong> 
                    </div>
                    {% endif %}
                                    
                    <form id="form-add" method="post">
                        {% csrf_token %}
                        
                            <br>
                            <div class="form-group">
                                       
                                <label class="control-label">Last
                                </label>
                                <input type="number"  autocomplete="off"  
                                name="start" required>
                                <br>
                                <br>
                                <label class="control-label">Calendar</label>
                                <select class="form-control"  name="opt">
                                        <option value="day">Day</option>
                                        <option value="week">Week</option>
                                        <option value="month">Month</option>
                                        <option value="quarter">Quarter</option>
                                </select> 

                            </div>
                            
                            <input type="submit" name="save" class="btn btn-primary btn-gradient waves-effect waves-light btn-block" value="submit">
                        
                    </form>
                             
            </div>
        </div>
    </div>
    {% if number_of_conn %}
    
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>Connection Report</h3>
            </div>
            <!-- /.box-header -->
            <div class="card-body" id="bulk_campaigns_list">
                <div class="table-responsive">
                    <table class="table table-datatable table-striped table-hover">
                        <thead>
                        <tr>
                            <th>connection invitations</th>
                            <th>Invitations Accepted</th>
                            <th>Number of existing contacts</th>
                            <th>Connection Growth </th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                
                                <td>
                                    {{ conncetion_request_sent }}
                                </td>
                                <td>{{ inv_accepted }}</td>
                                <td>{{ number_of_conn }}</td>
                                <td>{{ con_growth }} </td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    

    

  

</div>

</div>
{% endblock %}x