

.head-title{
    font-size: 20px;
    font-weight: bold;
}

.navbar.navbar-light .hamburger .hamburger-inner, .navbar.navbar-light .hamburger .hamburger-inner::before, .navbar.navbar-light .hamburger .hamburger-inner::after {
    background-color: #FFFFFF !important;
}




.navbar.navbar-light .navbar-nav .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item > a.nav-link > .batch-icon, .navbar.navbar-light .navbar-nav .nav-item a.nav-link {
    color: #FFFFFF;
    font-weight: 400;
}

.cursor-pointer{
    cursor: pointer !important;
}

.hidden{
    display: none !important;
}