  <div class="alert alert-info" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
      <h4>YOUR SEARCH IS SYNCING NOW.</h4>
      PLEASE BE PATIENT – THIS CAN TAKE UP TO 7-10 MINUTES.<br>

      <p>WHILE YOUR SEARCH RESULTS ARE SYNCING, YOU CAN NAVIGATE AWAY FROM THIS PAGE AND SYNC WILL CONTINUE. WHEN RETURNING TO THE PAGE, SIMPLY CLICK ON THE SEARCH AND REFRESH PAGE IF NEEDED.</p>
</div>