{% extends 'v2/account/base.html' %}
{% load static %}
{% block title %}Inbox{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables/css/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables/css/responsive.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}

<div class="row mb-4">
    <div class="col-md-9 mb-5">
        <div class="card">
            <div class="card-body">
               {% include 'app/includes/people_datatable.html' with contacts=object_list %}
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
        <div class="card">
            <div class="card-body">
                <div id="uinfo_box"></div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
{% block script %}
    {% include 'app/includes/datatable_pagefooter.html' %}
    <script type="text/javascript" src="{% static 'assets/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>


{%endblock%}

