<div class="card">
    <div class="card-header">
        <div class="card-title">Initial Email</div>
        <div class="header-btn-block">
            <a href="#" id="btn-save-followup" class="btn btn-primary waves-effect waves-light">
                Save
            </a>
        </div>
    </div>
    <div class="card-body">
        <form id="form-save" method="post">
            {% csrf_token %}
            <textarea name="data" class="summernote"></textarea>
        </form>
    </div>
</div>