<div class="col-md-12 mb-3 justify-content-center">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">
                <strong>Please check the issues!</strong> <br>
                    You can not add user with this email and password. .                
                    <ul>
                    <li>Account with this email is already exits</li>
                    <li>User email and password not matched</li>
                </ul>
            </div>          
        </div>
    </div>
<script>
     setTimeout(function(){
         $('.alert-warning').hide();
         window.location.reload( false );
    }, 5000);
</script>