<div class="col-md-12 mb-3 justify-content-center">
    {% include 'account/accounts/progress_authentication.html' with step=4 %}
    <div class="progress" id="progress_bar">
        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar progress-bar-lg" role="progressbar" style="width: 25%;"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="col-md-12">
            <h4 class="text-center">Your account has been activated</h4>
    </div>
</div>

<script>
    setTimeout(function(){
    }, 5000);
    window.location.href = "/accounts/"
</script>
