<div class="col-md-12 mb-3 justify-content-center">
    {% include 'account/accounts/progress_authentication.html' with step=2 %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar progress-bar-lg" role="progressbar" style="width: 35%;"
            aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="col-md-12">
        <h4 class="text-center">Please wait while we verify your account with pin</h4>
    </div>
</div>