<div class="col-md-12 mb-3 justify-content-center">
    {% include 'account/accounts/progress_authentication.html' with step=2 %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar progress-bar-lg" role="progressbar" style="width: 25%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="col-md-12">
            {% if error %}
            <p class="text-danger">The pin you entered is not correct. Please enter the latest pin</p>
        {% endif %}

        <div class="form-group">
            <label for="pin_text">PIN Verification: </label>
            <input type="text" class="form-control" id='pin_text' placeholder="Enter Your Pin">
        </div>
        <button type="button" id="pin_submit" class="btn btn-info pull-right">Submit PIN</button>
    </div>
</div>

<script>
    $("#pin_submit").click(function () {
        console.log('ok')
        data_ = new Object()
        data_.id = '{{ object.id }}'
        data_.pin = $('#pin_text')[0].value
        $.ajax({
            url: "{% url 'account-info' %}",
            type: "post",
            data: data_,
            success: function (response) {
                $('#add_account_modal_results').html(response)
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    });
</script>
