<div class="mb-4">
    <ul class="nav nav-pills nav-justified" id="myTab-2" role="tablist">
        <li class="nav-item">
            <a class="nav-link {% if step == 1 %} {{'active'}} {% endif %} "  id="progress-tab-1" data-toggle="tab" role="tab" aria-controls="home-2" aria-selected="false">
                Authentication</a>
        </li>
        <li class="nav-item  ">
            <a class="nav-link {% if step == 2 %} {{'active'}} {% endif %}" id="progress-tab-2" data-toggle="tab" role="tab" aria-controls="profile-2" aria-selected="false">
                Verification
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link  {% if step == 3 %} {{'active'}} {% endif %}" id="progress-tab-3" data-toggle="tab" role="tab" aria-controls="contact-2"
                aria-selected="false">Sync</a>
        </li>
        <li class="nav-item  ">
            <a class="nav-link {% if step == 4 %} {{'active'}} {% endif %}" id="progress-tab-4" data-toggle="tab"   role="tab" aria-controls="disabled-2"
                aria-selected="false">Activate</a>
        </li>
    </ul>
</div>