<tr  style="cursor: pointer !important;">
  <th style="border-right:none; cursor: pointer"></th>
  <th style="border-left:none;">Name</th>
  <th>Company</th>
  <th>Industry</th>
  <th style="width: 10%;">Title</th>
  <th>Location</th>
  <th>Latest acitvity</th>
  <th data-toggle="tooltipx" title="" data-original-title="Connector / Messenger column shows whether your contact is a part of any other Messenger Campaign or Connector Campaign." aria-describedby="tooltip352585">Connector Messenger</th>
  <th style="width: 15%;">Status</th>
</tr>
