

<table class="table100-head table" id="campaign_people">
	<thead  class="align-middle">
	{% include 'app/includes/people_datatable_headrow.html' with campaign=campaign%}
	</thead>
	<tbody>
	{% for contact in contacts %}
	 <tr  class="contact">
	  <td class=""></td>
	  <td class="">{{contact.name}}</td>
	  <td class="">{{contact.name}}</td>
	  <td class="">{{contact.industry}}</td>
	  <td class="">{{contact.title}}</td>
	  <td class="">{{contact.location}}</td>
	  <td class="">{{contact.latest_activity}}</td>
	  {%if campaign%}
	  <td class="">{{contact.campaign}}</td>
	  {%endif%}
	  <td class="">{# how to deal with this #}
	  <span data-contactid="{{contact.id}}" class="btn btn-orange btn-gradient waves-effect waves-light btn-block" data-toggle="tooltip" data-popover-content="#popover{{pk}}"
	  data-html="true" data-tooltip-content="<strong>angular develooper</strong><br>In Queue for Connection request">
	  In Queue</span>
	 </td>
	</tr>
	{%endfor%}
	</tbody>
</table>


<form name="contacts-delete" action="{% url 'contacts-delete' %}" method="post">
{% csrf_token %}
<input name="cid" value="" type=hidden />
</form>