
{% extends 'app/base.html' %}
{% load static %}


{%block pagecss%}
    <link href="{% static 'css/AdminLTE.css' %}" rel="stylesheet" type="text/css" id="maincss">
    <link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css" id="maincss">
{%endblock%}
    
{% block title %}Home{% endblock title %}

{%block header%}
   {% include 'app/includes/header.html' with account_menu=1 %}
{%endblock%}

{%block sidebar%}
   
{%endblock%}


{%block content%}

<section class="content">
   
   	<div class="row">
	<div class="col-sm-4 col-md-3">
		<a class="btn btn-primary btn-block" href="{% url 'account-messenger-add' pk=1 %}">NEW MESSENGER CAMPAIGN</a>
		<a class="btn btn-primary btn-block" href="{% url 'account-campaign-add' pk=1 %}">NEW CONNECTOR CAMPAIGN</a>
		
		<div class="text-center pt-10">
			<a href="{% url 'account-settings' pk=1 %}">Set account schedule</a>
		</div>
	</div>
	<div class="campaign-info col-sm-8 col-md-8">
		<p>Want to communicate with your existing network? Start new Messenger Campaign.<br>Need to grow your network, find new leads? Start new Connector Campaign.</p><br>
		<p>When new Messenger Campaign or Connector Campaign is created, you will add contacts to the campaign. Contacts will be either your existing connections or you can launch a new search to find new ones you can connect with. For more details see <a href="/support/?openfaq=getstarted" target="_blank">FAQ</a>.</p>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="box box-solid">
		<div class="box-header">
		  <h3 class="box-title">Your connections</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body pt-0">
			<table class="table">
		    <tbody><tr>
				<td>
					Current connections:
				</td>
				<td>
					{{connection_count}}				</td>
			</tr>
			 <tr>
				<td>
					New in 24 hours:
				</td>
				<td>
					0				</td>
			</tr>
			 <tr>
				<td>
					New in 7 days:
				</td>
				<td>
					0				</td>
			</tr>
			</tbody></table>
		 </div>
		<!-- /.box-body -->
		</div>
		<!-- /.box -->
	  
		<div class="box box-success box-solid">
			<div class="box-header with-border">
				<h3 class="box-title">Upcoming tasks</h3>
			</div>
			<div class="box-body" id="upcoming_tasks">There are no tasks
</div>
		</div>
	</div>
	<!-- /.col -->

	<div class="col-md-8">
	  <div class="box box-solid">
		<div class="box-header">
		  <h3 class="box-title">Communication stats</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body pt-0">
			<table class="table">
				<tbody><tr>
					<td></td>
					<td><strong>24h</strong></td>
					<td><strong>48h</strong></td>
					<td><strong>72h</strong></td>
					<td><strong>1w</strong></td>
					<td><strong>1m</strong></td>
				</tr>
				<tr>
					<td>Connection requests:</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Connected:</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Replied to connection message:</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Replied to other messages:</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
			</tbody></table>
		</div>
		<!-- /.box-body -->
	  </div>
	  <!-- /.box -->
	  
	  <div class="box box-solid">
		<div class="box-header with-border">
		  <h3 class="box-title">Connector campaigns</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body table-responsive pt-0" id="campaigns_list"><table class="table table-hover">
	<thead>
	<tr>
	  <th>Title</th>
	  <th>Status</th>
	  <th>Contacts</th>
	  <th>Connected</th>
	  <th>Replied to<br>connection message</th>
	  <th>Replied to<br>other messages</th>
	</tr>
	</thead>
	<tbody>
	{% for mc in object.connectorcampaigns.all %}
		<tr>
	  <td><a href="{%url 'messenger-campaign' pk=object.id pk_alt=mc.id %}">{{mc.name}}</a></td>
	  <td>
		{%include 'app/includes/campaigns/list_status.html' with mc=mc %}			
		</td>
	  <td>{% mc.contacts.all | length}}</td>
	  <td>0</td>
	  <td>0</td>
	  <td>0</td>
	</tr>
	{%endfor%}
		
		</tbody>
</table></div>
		<!-- /.box-body -->
	  </div>
	  
	  <div class="box box-solid">
		<div class="box-header with-border">
		  <h3 class="box-title">Messenger campaigns</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body table-responsive no-padding" id="bulk_campaigns_list"><table class="table table-hover">
	<thead>
	<tr>
	  <th>Title</th>
	  <th>Status</th>
	  <th>Contacts</th>
	  <th>Replied</th>
	</tr>
	</thead>
	<tbody>
	{% for mc in object.messegercampaigns.all %}
		<tr>
	  <td><a href="{%url 'messenger-campaign' pk=object.id pk_alt=mc.id %}">{{mc.name}}</a></td>
	  <td>
		{%include 'app/includes/campaigns/list_status.html' with mc=mc %}
	</td>
	  <td>0</td>
	  <td>0</td>
	</tr>
	{%endfor%}
		
		</tbody>
</table></div>
	  </div>
	</div>
	<!-- /.col -->
</div>	</section>

{%endblock%}
