{% extends 'app/base.html' %}
{% load static %}


{%block pagecss%}
    <link href="{% static 'css/AdminLTE.css' %}" rel="stylesheet" type="text/css" id="maincss">
    <link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css" id="maincss">
{%endblock%}
    
{% block title %}Campaign Messenger{% endblock title %}

{%block header%}
   {% include 'app/includes/header.html' with account_menu=1 %}
{%endblock%}

{%block sidebar%}
   
{%endblock%}


{%block content%}

<section class="content">
   
   	<div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
	  <li id="cname" class="pull-right col-md-3 col-sm-4 col-xs-5">		
		<label class="switch pull-right" style="margin-top:6px">
		  <input type="checkbox" checked="" class="switch_campaign" data-cid="8">
		  <div class="slider round"></div>
		</label>
		
		<h4>camp3</h4>
	  </li>
	  <li class="active"><a href="#tab_1" data-toggle="tab">People</a></li>
	  <li><a href="#tab_2" data-toggle="tab">Steps</a></li>
	  <li><a href="#tab_3" data-toggle="tab">Settings</a></li>
	  <li><a href="#tab_4" data-toggle="tab">Stats</a></li>

	  
	</ul>
	<div class="tab-content">
	  <div class="tab-pane active" id="tab_1">
					<div class="row">
	<div class="col-md-9" style="position:relative">
					</div>
	<div class="col-md-3" id="uinfo_box">
		
	</div>
</div>
		<h4>To get things going with this Messenger Campaign:</h4>
	<p>1. Go to <a href="/5386961/network/">My Network</a>.</p>
	<p>2. Find people you would like to add to this Messenger Campaign.</p>
	<p>3. Select and add people you would like to contact by clicking "Add Selected People to Messenger Campaign" or "Add All New People to Messenger Campaign" button.</p>
				  </div>
	  <!-- /.tab-pane -->
	  <div class="tab-pane" id="tab_2" style="">
	  		<form method="POST" action="?act=edit_steps">
	<div class="row">
		<div class="col-md-9">
						<div class="box">
				<div class="box-body">
					<div class="form-group">
						<label>MESSAGE 1</label>
						<textarea class="form-control measured" name="message[welcome]" placeholder="Enter ..."></textarea>
					</div>
				</div>
			</div>
						
													
			<button class="btn btn-primary" id="add_step">ADD ANOTHER STEP</button><br><br>
		</div>
		
		<div class="col-md-3">
			<input type="submit" class="btn btn-primary btn-block" name="save" value="SAVE">
			
			<div class="box msg_vars">
				<div class="box-body">
					<p class="title">You can use these tags in place of an individual's details to build a more personalized message.</p>
					
					<p>Name<span>{Name}<span></span></span></p>
					<p>First name<span>{FirstName}<span></span></span></p>
					<p>Company name<span>{Company}<span></span></span></p>
					<p>Title<span>{Title}<span></span></span></p>
				</div>
			</div>
		</div>
	</div>
</form>

<div id="new_step" style="display:none">
		<div class="box box-solid">
		<div class="box-body">
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-click="removeStep" data-toggle="tooltip" title="Delete step"><i class="fa fa-remove"></i></button>
			</div>
			
			<div class="form-group">
				<label class="title">MESSAGE <span>1</span></label>
				<select name="message[step_time][]" class="form-control">
					<option value="1">SEND 1 DAY AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="2">SEND 2 DAYS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="3">SEND 3 DAYS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="4">SEND 4 DAYS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="5">SEND 5 DAYS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="6">SEND 6 DAYS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="7">SEND 7 DAYS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="8">SEND 8 DAYS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="9">SEND 9 DAYS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="10">SEND 10 DAYS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="14">SEND 2 WEEKS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="28">SEND 4 WEEKS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="60">SEND 2 MONTHS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="90">SEND 3 MONTHS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="180">SEND 6 MONTHS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="270">SEND 9 MONTHS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="365">SEND 1 YEAR AFTER PREVIOUS MESSAGE IF NO REPLY</option>
					<option value="730">SEND 2 YEARS AFTER PREVIOUS MESSAGE IF NO REPLY</option>
				</select>
				<textarea class="form-control measured" name="message[step][]" placeholder="Enter message..."></textarea>
				<input type="hidden" name="message[step_id][]" value="">
			</div>
		</div>
	</div></div>	  	  </div>
	  <!-- /.tab-pane -->
	  <div class="tab-pane" id="tab_3">
	  		<div class="row">
	<div class="col-md-6">
		<div class="box box-success">
			<div class="box-header">
			  <h3 class="box-title">Messenger Campaign Status</h3>
			</div>
		
			<div class="box-body">
				<p style="font-size:16px;min-height:123px;">
				You can turn this Messenger Campaign on and off. Turned on campaign will send out connection requests and messages according to your <a href="#tab_2" data-toggle="tab" onclick="$('.nav-tabs li').removeClass('active');$('.nav-tabs li:eq(1)').addClass('active');">messaging settings</a>. If you turn off the campaign, all campaign activity will be paused.</p>
				
				<label class="switch pull-left" style="margin-right:20px">
				  <input type="checkbox" checked="" class="switch_campaign" data-cid="8">
				  <div class="slider round"></div>
				</label>
				
				<h5 style="margin-top:16px;">Campaign is active</h5>
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="box box-danger">
			<div class="box-header">
			  <h3 class="box-title">Delete Messenger Campaign</h3>
			</div>
		
			<div class="box-body">
				<p style="font-size:16px;min-height:120px;">Deleting Messenger Campaign will stop all campaign activity. Contacts from the campaign will remain in 'My Network' and in your 'Inbox', however, and will no longer receive automated campaign messages. Contact(s) status will change to “Old Connect”. You will be able to continue manual communication with these contacts.</p>
				
				<a href="#" class="btn btn-flat btn-danger" data-click="removeCampaign" data-cid="8">DELETE MESSENGER CAMPAIGN</a>
			</div>
		</div>
	</div>
</div>	  	  </div>
	  <!-- /.tab-pane -->
	  <div class="tab-pane" id="tab_4">
	  		<div class="row">
	<div class="col-sm-4 stats_block">
		<h1>0</h1>
		<p>Contacts</p>
	</div>
	
	<div class="col-sm-4 stats_block">
		<div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100"></canvas><input type="text" class="knob" data-displayinput="false" data-readonly="true" value="" data-width="100" data-height="100" data-fgcolor="#00c1fe" readonly="readonly" style="display: none; width: 0px; visibility: hidden;"></div>
		<div class="nums">
			<h2>0%</h2>
			<h3>0</h3>
		</div>
		<p>Messages</p>
	</div>
	
	<div class="col-sm-4 stats_block">
		<div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100"></canvas><input type="text" class="knob" data-displayinput="false" data-readonly="true" value="" data-width="100" data-height="100" data-fgcolor="#00b257" readonly="readonly" style="display: none; width: 0px; visibility: hidden;"></div>
		<div class="nums">
			<h2>0%</h2>
			<h3>0</h3>
		</div>
		<p>Replied</p>
	</div>
</div>	  	  </div>
	  <!-- /.tab-pane -->
	</div>
	<!-- /.tab-content -->
</div>	</section>

{%endblock%}