
{% extends 'app/base.html' %}
{% load static %}


{%block pagecss%}
    <link href="{% static 'css/AdminLTE.css' %}" rel="stylesheet" type="text/css" id="maincss">
    <link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css" id="maincss">
{%endblock%}
    
{% block title %}Home{% endblock title %}

{%block header%}
   {% include 'app/includes/header.html' with account_menu=1 %}
{%endblock%}

{%block sidebar%}
   
{%endblock%}


{%block content%}
<section class="content">
   
   	<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form class="box box-primary" method="POST">
			
			<div class="box-header with-border">
			  <h3 class="box-title">New Messenger Campaign</h3>
			</div>
			
			{%include 'app/includes/campaigns/add_form.html' with form=form %}
			
			
			  
			  

			  <div class="box-footer">
				<input type="submit" name="save" class="btn btn-primary" value="CREATE MESSENGER CAMPAIGN">
			  </div>
			</form>
		
		<!-- /.box -->
	</div>
</div>
	</section>

{%endblock%}
