{% autoescape off %}
Welcome to {{site_title}} 2.0

We are glad you decide to join the growing number of clients who are putting {{site_title}} to work, 24 hours a day, 7 days a week.

Your username is {{user.username}} and getting started with {{site_title}} is easy.

The first thing you'll want to do is connect your LinkedIn account. To do so, just go to Add LinkedIn User button and enter your LinkedIn username and password in the appropriate fields provided. Syncing your B2B Prospecting Account with LinkedIn can take several minutes – so please be patient.

Once your sync with LinkedIn is complete, you can start by adding your first Connection campaign.

See you on the inside!



Best,
{{site_title}} Team

{% endautoescape %}
