{% extends 'app/base.html' %}
{% load static %}


{% block pagecss %}
    <link href="{% static 'css/AdminLTE.css' %}" rel="stylesheet" type="text/css" id="maincss">
    <link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css" id="maincss">
    <link href="{% static 'css/search_page.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Home{% endblock title %}

{% block header %}
    {% include 'app/includes/header.html' with account_menu=1 %}
{% endblock %}

{% block sidebar %}

{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div id="ajax_data_render_field" style="display: none"></div>
            <div class="col-md-9" id="search_people">

                <!-- /.box --></div>

            <div class="col-md-3">
                <a href="#" class="btn btn-success btn-block" id="new_search">Start new search</a>

                <div class="box">
                    <div class="box-body">
                        <div class="pull-right" style="margin-bottom:10px;">
                        </div>
                        <div class="scroll-block">
                            <div class="search-item active" id="si_9">
                                <div style="display: none;">45</div>
                                <h4 class="pull-right">979</h4>
                                <h5><strong><i class="fa fa-search margin-r-5"></i> python-dev</strong></h5>
                                <div>Keywords: <strong>python developer</strong></div>


                                <a href="#" class="remove pull-left" title="Delete search" data-click="removeSearch"
                                   data-toggle="tooltip"><i class="glyphicon glyphicon-trash"></i></a>

                                <span class="text-muted pull-right">
			1 day ago			</span>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="pull-right" style="margin-bottom:10px;">
                        </div>
                        <div class="scroll-block">
                            <div class="search-item" id="si_9">
                                <div style="display: none;">46</div>
                                <h4 class="pull-right">979</h4>
                                <h5><strong><i class="fa fa-search margin-r-5"></i> python-dev</strong></h5>
                                <div>Keywords: <strong>python developer</strong></div>


                                <a href="#" class="remove pull-left" title="Delete search" data-click="removeSearch"
                                   data-toggle="tooltip"><i class="glyphicon glyphicon-trash"></i></a>

                                <span class="text-muted pull-right">
			1 day ago			</span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="add2campaign">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Add people to Connector Campaign</h4>
                    </div>
                    <div class="modal-body">
                        <p>Choose campaign</p>
                        <select class="form-control">
                            <option value="3">python developement</option>
                        </select>
                    </div>

                    <input type="hidden" name="cid" value="">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary add_button">Add to Connector Campaign</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </section>

{% endblock %}

{% block pagefooter %}

    <script src="{% static 'app/search_page.js' %}"></script>
    <script>
    ACCOUNT_SEARCH_URL = "{% url  'account-search-result' %}";
    </script>


{% endblock %}
