
{% extends 'app/base.html' %}
{% load static %}


{%block pagecss%}
    <link href="{% static 'css/AdminLTE.css' %}" rel="stylesheet" type="text/css" id="maincss">
    <link href="{% static 'css/dataTables.checkboxes.css' %}" rel="stylesheet" type="text/css" id="maincss2">    
    <link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css" id="maincss3">
{%endblock%}
    
{% block title %}Inbox{% endblock title %}

{%block header%}
   {% include 'app/includes/header.html' with account_menu=1 %}
{%endblock%}

{%block sidebar%}
   
{%endblock%}


{%block content%}
<section class="content">
   
<div class="row mt-lg">
	<div class="col-md-9 bg-white " style="position:relative">
	
	
		{% include 'app/includes/people_datatable.html' with contacts=object_list %}
		
		
	</div>
	<div class="col-md-3 bg-white" id="uinfo_box"><!-- DIRECT CHAT PRIMARY -->
	

	</div>
</div>
</section>

{%endblock%}


{% block pagefooter%}

{% include 'app/includes/datatable_pagefooter.html' %}

   
    
});
//-->
</script>


{%endblock%}

