{% extends 'app/base.html' %}
{% load static %}


{% block pagecss %}
    <link href="{% static 'css/AdminLTE.css' %}" rel="stylesheet" type="text/css" id="maincss">
    <link href="{% static 'css/account.css' %}" rel="stylesheet" type="text/css" id="maincss">
{% endblock %}

{% block title %}Home{% endblock title %}

{% block header %}
    {% include 'app/includes/header.html' with account_menu=1 %}
{% endblock %}

{% block sidebar %}

{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-md-6">
                <div class="box box-success box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="display:block">Upcoming tasks
                            <div class="pull-right hidden"
                                 title="{{ site.name }} limits the number of actions per day to assure your profile safety. At this time connection requests and messages go out with an optimal balance of profile safety and productivity. After a number of requests, you now have an option to speed up all of activity 2x. Though we haven't seen issues with LinkedIn profiles when set to 2x, keep in mind using 2x involves certain risk."
                                 data-toggle="tooltip" data-placement="bottom">
                                <input type="checkbox" id="x2speed"> 2x
                            </div>
                        </h3>
                    </div>
                    <div class="box-body" id="upcoming_tasks">
                        {% if upcoming_tasks %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Task type</th>
                                    <th>Name</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for task in upcoming_tasks %}
{#                                    {% if task.status in 'Done Error' %}#}
                                        <tr>
                                            <td>{{ task.queue_type }}</td>
                                            <td>{{ task.content_object }}</td>

                                        </tr>
{#                                    {% endif %}#}

                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            There are no tasks
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Finished tasks</h3>
                    </div>
                    <div class="box-body" id="finished_tasks">
                        {% if finished_tasks %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Task type</th>
                                    <th>Name</th>
                                    <th>Date completed</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for task in finished_tasks %}
{#                                    {% if task.status in 'Done Error' %}#}
                                        <tr>
                                            <td>{{ task.queue_type }}</td>
                                            <td>{{ task.content_object }}</td>
                                            <td>{{ task.updated_at }}</td>

                                        </tr>
{#                                    {% endif %}#}

                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            There are no tasks
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
