{% extends 'new/account/base.html' %}
{% load static %}
{% block title %}Inbox{% endblock title %}
{%block content%}
<section class="content">
<div class="row mb-4">
    <div class="col-md-9 mb-5">
        <div class="card">
            <div class="card-body">
               {% include 'app/includes/people_datatable.html' with contacts=object_list %}
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
        <div class="card">
            <div class="card-body">
                <div id="uinfo_box"></div>
            </div>
        </div>
    </div>
</div>
</section>
{%endblock%}
{% block pagefooter%}
{% include 'app/includes/datatable_pagefooter.html' %}
{%endblock%}

