<h2>Pin verification</h2>

    <input id='pin_text' type="text" name="pincode_text" required>
    <button id="pin_submit" >Submit</button>


<script>


    $("#pin_submit").click(function () {
        console.log('ok')
        data_ = new Object()
        data_.id = '{{ object.id }}'
        data_.pin = $('#pin_text')[0].value
            $.ajax({
                url: "{% url 'account-info' %}",
                type: "post",
                data: data_,
                success: function (response) {
                    $('#add_account_modal_results').html('checking')

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }


            });


    });


</script>
