{% extends 'app/head.html' %}
{% load static %}

{% block title %}Register{% endblock title %}


{% block content %}

<div class="block-center mt-xl wd-xl">
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a href="#"> <img src="{% static 'images/logo.png' %}" alt="Image" class="block-center img-rounded"> </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">SIGNUP TO GET INSTANT ACCESS</p>
            <form class="mb-lg" method="post" role="form">
                {% csrf_token %}
                <input name="__RequestVerificationToken" type="hidden" value="vzFSEiK3mMBlbrNp3T-KOte4zubO_VZrlL79Ht1FIfX8sc2cz2d1CM1I7czqOSGNifPtaeOyXDuMgdtCde9mqKn1yei1YF89TDpMzqjHLmE1">
                <div class="form-group has-feedback">
                    <label class="text-muted" for="Email">Email address</label>
                    <input autocomplete="off" class="form-control" data-val="true" data-val-email="The Email address field is not a valid e-mail address." data-val-required="Email is missing" id="Email" name="email" placeholder="Enter email" type="text" value=""> 
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    <span class="field-validation-valid text-danger small" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group has-feedback">
                    <label class="text-muted" for="Password">Password</label>
                    <input autocomplete="off" class="form-control" data-val="true" data-val-required="Password is missing" id="Password" name="password" placeholder="Password" type="password" value=""> 
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <span class="field-validation-valid text-danger small" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group has-feedback">
                    <label class="text-muted" for="ConfirmPassword">Confirm password</label>
                    <input autocomplete="off" class="form-control" data-val="true" data-val-equalto="Password does not match the confirm password" data-val-equalto-other="*.Password" id="ConfirmPassword" name="confirmpassword" placeholder="Confirm password" type="password" value=""> 
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <span class="field-validation-valid text-danger small" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group has-feedback">
                    <label class="text-muted" for="InvitationCode">Invitation code</label>
                    <input autocomplete="off" class="form-control" data-val="true" data-val-required="Invitation code is missing" id="InvitationCode" name="InvitationCode" placeholder="Invitation code" type="text" value="">
                    <span class="fa fa-key form-control-feedback text-muted"></span>
                    <span class="field-validation-valid text-danger small" data-valmsg-for="InvitationCode" data-valmsg-replace="true"></span>
                </div>
                <div class="clearfix">
                    <div class="checkbox pull-left mt0">
                        <label>
                            <input data-val="true" data-val-required="The AgreeWithTerms field is required." id="AgreeWithTerms" name="AgreeWithTerms" type="checkbox" value="true">
                            <input name="AgreeWithTerms" type="hidden" value="false"> I agree with the <a href="#">terms</a> </label>
                        <br> <span class="field-validation-valid text-danger small" data-valmsg-for="AgreeWithTerms" data-valmsg-replace="true"></span></div>
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-lg">Create account</button>
            </form>
            <p class="pt-lg text-center">Have an account?</p><a href="{% url 'login' %}" class="btn btn-block btn-default">Login</a></div>
    </div>
</div>

{% endblock content %}