{% load static %}
<nav id="sidebar" class="px-0 bg-dark bg-gradient sidebar">
	<ul class="nav nav-pills flex-column">
		<li class="logo-nav-item">
			<a class="navbar-brand" href="#">
							<img src="{% static 'new/img/logo-white.png' %}" width="145" height="32.3" alt="QuillPro">
						</a>
		</li>
		<li>
			<h6 class="nav-header">General</h6>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="index.html">
							<i class="batch-icon batch-icon-browser-alt"></i>
							Dashboard <span class="sr-only">(current)</span>
						</a>
		</li>
	</ul>
</nav>
