{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'new/img/favicon.png' %}">
<!-- Fonts -->
<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=latin-ext" rel="stylesheet"> -->
<!-- CSS - REQUIRED - START -->
<!-- Batch Icons -->
<link rel="stylesheet" href="{% static 'new/fonts/batch-icons/css/batch-icons.css' %}">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static 'new/css/bootstrap/bootstrap.min.css' %}">
<!-- Material Design Bootstrap -->
<link rel="stylesheet" href="{% static 'new/css/bootstrap/mdb.min.css' %}">
<!-- Custom Scrollbar -->
<link rel="stylesheet" href="{% static 'new/plugins/custom-scrollbar/jquery.mCustomScrollbar.min.css' %}">
<!-- Hamburger Menu -->
<link rel="stylesheet" href="{% static 'new/css/hamburgers/hamburgers.css' %}">
<link href="{%static 'dashboard/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
<link href="{%static 'dashboard/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
<link href="{%static 'dashboard/bower_components/jquery-confirm2/dist/jquery-confirm.min.css'%}" rel="stylesheet">
<link href="{%static 'dashboard/bower_components/izimodal/css/iziModal.min.css'%}" rel="stylesheet">
<!-- CSS - REQUIRED - END -->
<!-- CSS - OPTIONAL - START -->
<!-- Font Awesome -->
<link rel="stylesheet" href="{% static 'new/fonts/font-awesome/css/font-awesome.min.css' %}">
<!-- JVMaps -->
<link href="{%static 'dashboard/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css'%}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'new/plugins/jvmaps/jqvmap.min.css' %}">
<!-- CSS - OPTIONAL - END -->

<!-- QuillPro Styles -->
<link rel="stylesheet" href="{% static 'new/css/quillpro/quillpro.css' %}"> 