{% load humanize  %}

<div class="plan {%if current_sub.plan == price%}feature bg-primary{%endif%} col-md-4">
    <h3 class="plan-title">
         Enterprise Team
    </h3>



    <div class="plan-cost">
        <span class="plan-price <span class="plan-price {%if current_sub.plan == price%} bg-warning{%endif%}">${{price.amount | floatformat:0 | intcomma}}</span><span class="plan-type">/ Monthly</span>
        <br>
    </div>
    <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>Add up to 10 Accounts Immediately</li>
        <li><i class="ion-checkmark"> </i>Access to The B2B Prospecting Tool</li>
        <li><i class="ion-checkmark"> </i>Complete Training</li>
        <li><i class="ion-checkmark"> </i>Examples of Messages that work in every Niche</li>
        <li><i class="ion-checkmark"> </i>7 days 'Full Refund Guarantee'</li>
        <li><i class="ion-checkmark"> </i>Monthly Updates</li>
        <li><i class="ion-checkmark"> </i>Private FB Group Access</li>
        <li><i class="ion-checkmark"> </i>No Yearly Fees</li>
    </ul>

    {% include 'v2/app/includes/price_block_select.html' with price=price current_sub=current_sub %}


</div>
